In [49]:
address = '123 Random st'
address.replace(" ", "+")

'123+Random+st'

In [50]:
import pandas as pd

In [51]:
df2 = pd.read_csv('../Data/k_means_predictions.csv')
df2.describe()

,Unnamed: 0,class,ListPrice,BedroomsTotal,BathroomsTotalInteger,BuildingAreaTotal
count,3377.000000,1044.000000,3.377000e+03,3377.000000,3377.000000,3377.000000
mean,5170.254072,11.783525,1.979043e+05,2.064554,2.087948,1217.923897
std,2789.941755,9.209143,2.007953e+05,0.811997,0.847159,672.785433
min,9.000000,0.000000,9.000000e+02,0.000000,0.000000,0.000000
25%,3144.000000,4.000000,1.000000e+05,2.000000,2.000000,828.000000
50%,5355.000000,8.000000,2.000000e+05,2.000000,2.000000,1111.000000
75%,7261.000000,20.000000,2.000000e+05,3.000000,3.000000,1501.000000
max,10199.000000,33.000000,5.000000e+06,7.000000,7.000000,9606.000000

In [52]:
df2.describe()['BuildingAreaTotal']

count    3377.000000
mean     1217.923897
std       672.785433
min         0.000000
25%       828.000000
50%      1111.000000
75%      1501.000000
max      9606.000000
Name: BuildingAreaTotal, dtype: float64

In [53]:
df1 = pd.read_csv('../Data/jeffery_data.csv')

sq_class = df1['BuildingAreaTotal.3'][2:][df1['BuildingAreaTotal.3'][2:].astype(float) >= square_feet].index.values.tolist()
bd_class = df1['BedroomsTotal.3'][2:][df1['BedroomsTotal.3'][2:].astype(float) >= bedroom_number].index.values.tolist()
bt_class = df1['BathroomsTotalInteger.3'][2:][df1['BathroomsTotalInteger.3'][2:].astype(float) >= bathroom_number].index.values.tolist()
pr_class = df1['ListPrice.3'][2:][(df1['ListPrice.3'][2:].astype(float) <= max_loan_amount)].index.values.tolist()

all_list = sq_class + bd_class + bt_class + pr_class
suggested_class = max(set(all_list), key = all_list.count)

In [54]:
all_list = sq_class + bd_class + bt_class + pr_class
suggested_class = max(set(all_list), key = all_list.count)

In [56]:
mask = (df2['class'] == suggested_class)&(df2['ListPrice'] <= max_loan_amount)&(df2['BedroomsTotal'] <= bedroom_number)&(df2['BathroomsTotalInteger'] <= bathroom_number)&(df2['BuildingAreaTotal'] <= square_feet)
df2[mask].sample(5)['UnparsedAddress']

996             2124 Burton DR # 134, Austin TX 78741
636                   3201 PECOS # 8, Austin TX 78703
402    10616 Mellow Meadows DR # 46a, Austin TX 78750
952         2815 Rio Grande ST # 108, Austin TX 78705
310              4306 Avenue A # 102, Austin TX 78751
Name: UnparsedAddress, dtype: object

In [57]:
df1['BedroomsTotal.3'][2:][df1['BedroomsTotal.3'][2:].astype(float) > bedroom_number].index

Int64Index([17], dtype='int64')

In [58]:
df1['BathroomsTotalInteger.3'][2:][df1['BathroomsTotalInteger.3'][2:].astype(float) > bathroom_number].index

Int64Index([17, 18, 26], dtype='int64')

In [59]:
df1['ListPrice.3'][2:][(df1['ListPrice.3'][2:].astype(float) <= max_loan_amount)].index

Int64Index([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64')

In [60]:
age = 22
credit_score = 700
annual_income = 50000
down_payment = 20000
bedroom_number = 2
bathroom_number = 2
square_feet = 2000

In [61]:
def get_max_loan_amount(credit_score, annual_income, down_payment):
    if credit_score < 500:
        loan_amount =  down_payment / 0.1
        total_interest = loan_amount * (1.04**30)
        min_payment = total_interest / 30
        
        if annual_income / 3 > min_payment:
            return loan_amount
        else: 
            return ((annual_income / 3) * 30) - (((annual_income / 3) * 30) / (1.04**30))
            
    if credit_score > 500 and credit_score < 620:
        loan_amount = down_payment / 0.035
        total_interest = loan_amount * (1.04**30)
        min_payment = total_interest / 30
        
        if annual_income / 3 > min_payment:
            return loan_amount
        else: 
            return ((annual_income / 3) * 30) - (((annual_income / 3) * 30) / (1.04**30))
        
    if credit_score > 620:
        loan_amount = down_payment / 0.03
        total_interest = loan_amount * (1.04**30)
        min_payment = total_interest / 30
        
        if annual_income / 3 > min_payment:
            return loan_amount
        else: 
            return ((annual_income / 3) * 30) - (((annual_income / 3) * 30) / (1.04**30))

In [28]:
max_loan_amount = get_max_loan_amount(credit_score, annual_income, down_payment)
max_loan_amount

345840.6660132898

In [29]:
def get_recommended_addresses(max_loan_amount, bedroom_number, bathroom_number, square_feet):
    df1 = pd.read_csv('../Data/jeffery_data.csv')

    sq_class = df1['BuildingAreaTotal.3'][2:][df1['BuildingAreaTotal.3'][2:].astype(float) > square_feet].index.values.tolist()
    bd_class = df1['BedroomsTotal.3'][2:][df1['BedroomsTotal.3'][2:].astype(float) > bedroom_number].index.values.tolist()
    bt_class = df1['BathroomsTotalInteger.3'][2:][df1['BathroomsTotalInteger.3'][2:].astype(float) > bathroom_number].index.values.tolist()
    pr_class = df1['ListPrice.3'][2:][(df1['ListPrice.3'][2:].astype(float) <= max_loan_amount)].index.values.tolist()

    all_list = sq_class + bd_class + bt_class + pr_class
    suggested_class = max(set(all_list), key = all_list.count)
    mask = (df2['class'] == suggested_class)&(df2['ListPrice'] <= max_loan_amount)&(df2['BedroomsTotal'] <= bedroom_number)&(df2['BathroomsTotalInteger'] <= bathroom_number)&(df2['BuildingAreaTotal'] <= square_feet)
    return df2[mask].sample(5)['UnparsedAddress'].values